.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: center;
  /* font-family: "Roboto"; */
  font-family: "Poppins";
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: solid 1px #f3f3f3;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: transparent;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-pic {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}

.logo-name {
  font-size: 30px;
  font-weight: 500;
}

.link-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-link-items {
  text-decoration: none;
  color: black;
  margin-right: 40px;
  font-size: 18px;
}

.login-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-link {
  text-decoration: none;
  color: #a9b6a9;
}

.login-button {
  background-color: transparent;
  border-radius: 20px;
  padding: 9px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: #575957;
  border-color: #575957;
  cursor: pointer;
  margin-right: 30px;
}

.login-button:active {
  background: #f3f3f3;
}

.shopping-cart-logo {
  font-size: 34px;
}

.nav-cart-count {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -8px;
  border-radius: 11px;
  font-size: 12px;
  background: red;
  color: white;
}

.hr {
  color: rgb(189, 11, 11);
  width: 70%;
  margin-top: 7px;
  margin-left: 5px;
}
